<div class ="container" >
  <div class="row">
    <div class="col-lg-4 my-3">
      <h4 class="mb-4 text-center">カフェ投稿一覧</h2>
      <%= render 'public/posts/index', posts: @posts %>
      </div>
    </div>
  </div>
</div>
