<div class ="container" >
  <div class="row">
    <div class="col-12 my-3">
    <%= render 'public/posts/search_tag' %>
      <h4 class="text-center"><i class="fas fa-coffee"></i>カフェ投稿一覧</h4>
      <%= render 'public/posts/index', posts: @posts,post: @post%>
      </div>
    </div>
  </div>
</div>
