<div class="container">
  <div class="row">
     <div class="col-md-6 offset-md-3">
    <h5><i class="fas fa-mug-hot"></i> 投稿する</h5>
     <p>（タイトル・本文・カフェ名は必須入力）</p>
      <%= render 'public/posts/form', post: @post %>
    </div>
  </div>
</div>
