<div class="container">
  <div class="row justify-content-md-center">
     <div class="col-md-auto">
       <h4><i class="fas fa-mug-hot"></i>投稿する</h4>
       <%= render 'public/posts/form', post: @post %>
        </div>
       </div>
      </div>