<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-lg-6 my-4">
       <%= render 'public/posts/show', post: @post %>
      <div class="container customize-border shadow">
        <!--コメント一覧部分-->
        <div class="comments_area">
        <%= render 'public/comments/index', post: @post%>
        </div>
        <!--コメントフォーム-->
       <div class="new-comment">
        <%= render 'public/comments/form',post: @post %>
        </div>
      </div>
    </div>
  </div>
</div>