<div class="row justify-content-center">
  <div class="col-md-12 text-center">
    <h2>Cafe_chercherって？ </h2>
    <div class="about_info">
     <img src="/assets/about_image.jpg">
      <p>このサイトはカフェの投稿ができたり、<br>
         まだ知らぬカフェを見つけたり、<br>
         カフェ好きさんと繋がることができるサイトです！
      </p>
    </div>
    <p>Cafe_chercherで出来ること</p>
    <div class="flex">
      <div class="example1">
       <p><i class="fas fa-pencil-alt"></i>カフェを投稿できる</p>
       <p>カフェを投稿することで思い出を忘れず、共有できる！</p>
       <p>投稿してみよう！</p>
      </div>
      <div class="example2">
       <p>カフェの検索ができる</p>
       <p>まだ知らぬカフェを知ることができる！</p>
       <p>みんなの投稿を見てみよう！</p>
      </div>
      <div class="example3">
       <p>カフェ好きさんと繋がれる</p>
       <p>カフェ好き同士で会話してみよう！</p>
       <p>登録ユーザーを見る</p>
      </div>
      </div>
  </div>
</div>