@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

ul {
list-style: none;
 float: left;
}

.shop_info{
   padding: 20px;
   margin-top: 30px;
  box-shadow : 0px -2px 13px 4px #a6a6a6 ;
  text-align: center;
  border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
}

.cafe_post{
     padding: 20px;
   margin-top: 30px;
  box-shadow : 0px -2px 13px 4px #a6a6a6 ;
  text-align: center;
  border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
}
.form-check{
   width: 100px;
   height: 100px;
  display: inline-block;
  width: calc(25% - 24px);

}
input[type="text"] {
        width: 300px;
        height: 30px;
    }
text_area{
  resize: vertical;
  width:300px;
  height:200px;
}
.btn01 {
  background-color:#efc3bd;
}

.about_info{
 position: relative;
}

.about_info p {
  position: absolute;/*絶対配置*/
  color: white;/*文字は白に*/
  background-color:rgba(0,0,0,0.2);
  border-radius: 15px;
  left: 50%;
  top: 20%;
  transform: translate(-50%,-20%);
  font-size: 20px;
  }

.about_info img {
  width: 600px;
  height: 400px;
  }

  h2 {
  padding: 1rem 2rem;
  border-top: 6px double #000;
  border-bottom: 6px double #000;
  }
  .flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   }
.example1 {
  background: #f66;
  border-radius: 20%;
  width: 400px;
  height: 250px;
  margin-right: 30px;
}
.example2 {
  background: #f92;
  border-radius: 20%;
  width: 400px;
  height: 250px;
  margin-right: 30px;
}
.example3 {
  background: #fc2;
  border-radius: 20%;
  width: 400px;
  height: 250px;
}

