@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

ul {
list-style: none;
 float: left;
}

.shop_info{
   padding: 20px;
   margin-top: 30px;
  box-shadow : 0px -2px 13px 4px #a6a6a6 ;
  text-align: center;
  border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
}

.cafe_post{
     padding: 20px;
   margin-top: 30px;
  box-shadow : 0px -2px 13px 4px #a6a6a6 ;
  text-align: center;
  border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
}
.form-check{
   width: 100px;
   height: 100px;
  display: inline-block;
  width: calc(25% - 24px);

}
input[type="text"] {
        width: 300px;
        height: 30px;
    }
text_area{
  resize: vertical;
  width:300px;
  height:200px;
}