@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.main {
  min-height: 1000px;/*高さの最小値を指定*/
}

li {
  white-space: nowrap; /*自動的な折り返しを禁止する*/
}

th {
  white-space: nowrap; /*自動的な折り返しを禁止する*/
}

td {
  white-space: nowrap;
}

footer {
  background-color: #300;
  width: 100%;
  height: 120px;
  text-align: center;
  color: white;
}

footer a {
  margin: 10px;
}

/*ログインページ*/
.login {
　padding: 0.2em 0.5em;
  margin: 2em 0;
  background: #e5d2c5;
  box-shadow: 0px 0px 0px 10px #e5d2c5;
  border: dashed 2px white;
  text-align: center;
}
/*新規登録ページ*/
.sign_up {
  padding: 0.2em 0.5em;
  margin: 2em 0;
  background: #e5d2c5;
  box-shadow: 0px 0px 0px 10px #e5d2c5;
  border: dashed 2px white;
  text-align: center;
}
/*トップページ*/
.top_list {
  display: flex; /*横並び*/
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.top1 {
  padding: 0.2em 0.5em;
  margin: 2em 0;
  background: #e5d2c5;
  box-shadow: 0px 0px 0px 10px #e5d2c5;
  border: dashed 2px white;
  width: 240px;
  text-align: center;
}

.top2 {
  padding: 0.2em 0.5em;
  margin: 2em 0;
  background: #e5d2c5;
  box-shadow: 0px 0px 0px 10px #e5d2c5;
  border: dashed 2px white;
  width: 240px;
  text-align: center;
}

.top3 {
  padding: 0.2em 0.5em;
  margin: 2em 0;
  background: #e5d2c5;
  box-shadow: 0px 0px 0px 10px #e5d2c5;
  border: dashed 2px white;
  width: 240px;
  text-align: center;
}

.top_font {
  color: #745030;
  font-family:cursive;
  font-size: 40px;
  text-shadow: 3px 3px 5px rgba(14, 51, 29, 0.5)
}
/*新着投稿表示*/
.newpost {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; /*各アイテムを均等に配置 間隔も均等*/
}

.newpost img {
  margin: 0;
  padding: 0;
}

.newpost_flame {
  padding: 0.2em 0.5em;
  margin: 2em 0;
  color: #565656;
  background: #ffeaea;
  box-shadow: 0px 0px 0px 10px #ffeaea;
  border: dashed 2px #ffc3c3;
  border-radius: 8px;
  width: 230px;
}

.newpost_flame a {
  text-decoration: none; /*リンクの下線を消す*/
  color: #000;
}

.image_new{
  width: 100%;
  max-width: 210px;
  height: 150px;
}
/*新規投稿フォームページ*/
.post_form{
  padding: 0.2em 0.5em;
  margin: 2em 0;
  background: #e5d2c5;
  box-shadow: 0px 0px 0px 10px #e5d2c5;
  border: dashed 2px white;
  text-align: center;
  max-width: 500px;
}
.new-img {
  width: 400px;
  height: 300px;
  object-fit: cover; /*ボックスが画像で埋まるようにリサイズ*/
}

/*こだわりタグチェック欄*/
.form-check{
  width: 100px;
  height: 100px;
  display: inline-block;
  width: calc(33% - 10px); /*３個ずつ均等に並べる*/
}

input[type="text"] {
  width: 250px;
  height: 30px;
}

input[type="email"] {
  width: 250px;
  height: 30px;
}

input[type="password"] {
  width: 250px;
  height: 30px;
}

text_area{
  resize: vertical;
  width:300px;
  height:200px;
}
/*検索ボタン*/
.btn01 {
  color: white;
  background-color:#efc3bd;
}
/*アバウトページ*/
.about_info p {
  position: absolute;/*絶対配置*/
  color: white;
  background-color:rgba(0,0,0,0.2);
  border-radius: 15px;
  left: 50%;
  top: 20%;
  transform: translate(-50%,-20%);
}

.about_info img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

h3 {
  color: #745030;
  padding: 1rem 2rem;
  border-bottom: 6px double #745030;
}

h2 {
  color: #745030;
  padding: 1rem 2rem;
  border-top: 6px double #745030;
  border-bottom: 6px double #745030;
}

.example{
  display: flex; /*横並び*/
  flex-wrap: wrap;
  justify-content: space-evenly;
 }

.example h5 {
  margin-top: 20px;
}

.example1 {
  color:  #543838;
  background: #e5d2c5;
  border-radius: 20%;
  width: 300px;
  height: 200px;
  margin-bottom: 20px;
  border: dashed 2px white;
  box-shadow: 0px 0px 0px 10px #e5d2c5;
  margin-top: 20px;
 }

.example2 {
  color:  #543838;
  background: #e5d2c5;
  border-radius: 20%;
  width: 300px;
  height: 200px;
  margin-bottom: 20px;
  border: dashed 2px white;
  box-shadow: 0px 0px 0px 10px #e5d2c5;
  margin-top: 20px;
}

.example3 {
  color:  #543838;
  background: #e5d2c5;
  border-radius: 20%;
  width: 300px;
  height: 200px;
  margin-bottom: 20px;
  border: dashed 2px white;
  box-shadow: 0px 0px 0px 10px #e5d2c5;
  margin-top: 20px;
}
/*投稿一覧ページ*/
.pagination {
  justify-content: center;
}

.post_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post {
  padding: 0.2em 0.5em;
  margin: 2em 0;
  background: #e5d2c5;
  box-shadow: 0px 0px 0px 10px #e5d2c5;
  border: dashed 2px white;
  text-align: center;
  width: 300px;
  margin-right: 20px;
}

.image_index{
  width: 280px;
  height: 170px;
  object-fit: cover;
}
/*投稿詳細ページ*/
.post_show {
  padding: 0.2em 0.5em;
  margin: 2em 0;
  background: #e5d2c5;
  box-shadow: 0px 0px 0px 10px #e5d2c5;
  border: dashed 2px white;
}

.user_post{
  width: 100%;
  max-width: 40px;
  height: 40px;
  border-radius: 50%;
}

.post_image{
  text-align: center;
  width: 100%;
  max-width: 500px;
  max-height: 400px;
}

/*ユーザ一覧ページ*/
.user_index{
  padding: 0.2em 0.5em;
  margin: 2em 0;
  background: #e5d2c5;
  box-shadow: 0px 0px 0px 10px #e5d2c5;
  border: dashed 2px white;
  text-align: center;
}

.plofile_index{
  width: 100%;
  max-width: 100px;
  border-radius: 50%;
}
/*チャット一覧ページ*/
.user_image{
  width: 100%;
  max-width: 150px;
  height: 150px;
  border-radius: 50%;
}
/*マイページ*/
.plofile_image {
  text-align: center;
}
/*チャットページ*/
/*自分のメッセージ（右側）*/
.my-message {
 text-align: right;
}
// メッセージの装飾
.my-message p {
  display: inline-block;
  position: relative;
  margin: 0 10px 0 0;
  padding: 8px;
  border-radius: 12px;
  background: 	#F9C1F9;
  max-width: 250px; /*吹き出しの最大横幅,超えると折り返す*/
  font-size: 14px;
  text-align: left;
}
// 吹き出しに使う三角のパーツ
// afterでメッセージに装飾をつける
.my-message p:after {
  content: "";
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent; /*content: "";にボーダーをつけtransparentで透明にする*/
  border-left: 18px solid 	#F9C1F9; /*上記の左側のみカラーをつける*/
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
// 相手のメッセージ表示欄
// アイコン
.chat-user-image {
  float: left;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

// 相手のメッセージの装飾
.user-message {
  display: inline-block;
  position: relative;
  margin: 15px 0 0 10px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background: #90CECB;
}

// 吹き出しに使う三角のパーツ
// afterでメッセージに装飾をつける
.user-message:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px; /*マイナス値にすることで左側に寄せている*/
  border: 8px solid transparent;
  border-right: 18px solid 	#90CECB;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

.user-message p {
  margin: 0;
  font-size: 14px;
}
/*コメント欄*/
.comment-user-image {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.comment-form {
  width: 100%;
  max-width: 600px;
  height: 150px;
}
/*通知一覧*/
.notification-index {
  padding: 0.2em 0.5em;
  margin: 2em 0;
  background: #e5d2c5;
  box-shadow: 0px 0px 0px 10px #e5d2c5;
  border: dashed 2px white;
}
/*チャット一覧*/
.user_chat {
  padding: 0.2em 0.5em;
  margin: 2em 0;
  background: #e5d2c5;
  box-shadow: 0px 0px 0px 10px #e5d2c5;
  border: dashed 2px white;
}

/*画面幅によって文字サイズ変更*/
html {
  font-size: 75%;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 87.5%;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 100%;
  }
}