<div class="container">
  <h4 class="my-5"><%= @user.name %>のマイページ</h4>
  <div class="row">
    <%= render 'public/users/info', user: @user %>
    <%= render 'public/users/index', user: @user,post: @post %>
     
    </div>
  </div>
